$pink-bg: #AD1457;
$orange-bg: #C62828;
$balck-bg: #121212;
$red-bg: #e80d45 ;
$footer-bg: #201b25;
$btn-footer-color: #120d17;
$txt-1-color: #ffffff;
$txt-2-color: rgb(129, 129, 129);
$txt-3-color: #1f1f1f;
$txt-4-color: #736e78;


// set the flex display
