* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "barlow-regular", sans-serif;
  line-height: 1.4;
  overflow: visible;
  overflow-x: hidden;
}

h2 {
  font-family: barlow-medium;
}

p {
  color: #818181;
}

img {
  width: 100%;
}

i {
  color: #ffffff;
}

button {
  display: block;
  background: #AD1457;
  color: #ffffff;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

nav .navbar {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 99999;
}
nav .navbar .first-nav {
  position: fixed;
  display: flex;
  background-color: #121212;
  width: 100%;
  padding: 0.4em 1em;
}
nav .navbar .first-nav .left-nav {
  width: 50%;
}
nav .navbar .first-nav .left-nav i {
  font-size: 17px;
  padding: 0.3em 0.5em 0 0;
}
nav .navbar .first-nav .right-nav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  text-align: center;
}
nav .navbar .first-nav .right-nav button {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4em 1.2em;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
nav .second-nav {
  width: 100%;
  background-color: #ffffff;
  margin-top: 2.7em;
}
nav .second-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
nav .second-nav .right-nav {
  padding: 0 4em 0 0;
}
nav .second-nav .right-nav ul {
  display: flex;
  color: #1f1f1f;
  font-size: 0.9rem;
}
nav .second-nav .right-nav ul :first-child {
  background: #AD1457;
  color: #ffffff;
  padding: 0.6em 0.8em;
  border-radius: 2px;
}
nav .second-nav .right-nav ul li {
  padding: 0.5em 0.6em;
}
nav .second-nav .right-nav ul li :first-child {
  background: #AD1457;
}

main .section-1-bg {
  background: url(../uploads/bg-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
}
main .section-1-bg .section-1 {
  height: 100%;
  display: flex;
  color: #ffffff;
  padding: 8em 0 8em 5em;
}
main .section-1-bg .section-1 .content {
  width: 55%;
}
main .section-1-bg .section-1 .content h1 {
  font-size: 4rem;
  font-family: "barlow-bold";
}
main .section-1-bg .section-1 .content p {
  padding-top: 1em;
  color: #ffffff;
}
main .section-1-bg .section-1 .content .btn {
  padding-top: 3em;
  display: flex;
  gap: 2em;
}
main .section-1-bg .section-1 .content .btn button {
  background: #121212;
  padding: 0.7em 2em;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  text-align: center;
}
main .section-1-bg .section-1 .content .btn button i {
  padding-right: 0.2em;
}
main .section-1-bg .section-1 .picture {
  display: flex;
  width: 45%;
  position: relative;
}
main .section-1-bg .section-1 .picture .iphone-1 {
  width: 120%;
  height: auto;
  position: absolute;
  right: 9%;
  z-index: 2;
}
main .section-1-bg .section-1 .picture .iphone-2 {
  width: 110%;
  height: auto;
  position: absolute;
  right: -13%;
  bottom: -110%;
  z-index: 1;
}
main .section-1-bg .section-1 .picture img {
  max-width: 100%;
  height: auto;
}
main .section-2-bg {
  margin: 0 0 4em 0;
}
main .section-2-bg .section-2 .content-1 {
  text-align: center;
  padding: 6em 0 0 0;
}
main .section-2-bg .section-2 .content-1 h2 {
  font-size: 2rem;
  font-weight: 700;
}
main .section-2-bg .section-2 .content-1 p {
  font-weight: 500;
}
main .section-2-bg .section-2 .content-2 {
  display: flex;
  margin-bottom: 3em;
  padding: 4em 0 0 0;
}
main .section-2-bg .section-2 .content-2 i {
  color: #1f1f1f;
}
main .section-2-bg .section-2 .content-2 .column-left,
main .section-2-bg .section-2 .content-2 .column-right {
  padding-top: 0.5em;
}
main .section-2-bg .section-2 .content-2 .column-left ul li,
main .section-2-bg .section-2 .content-2 .column-right ul li {
  display: flex;
  padding-top: 2.4em;
}
main .section-2-bg .section-2 .content-2 .column-left ul li p,
main .section-2-bg .section-2 .content-2 .column-right ul li p {
  font-size: 0.8rem;
  color: #818181;
  padding-top: 1em;
}
main .section-2-bg .section-2 .content-2 .column-left ul li i,
main .section-2-bg .section-2 .content-2 .column-right ul li i {
  background: #AD1457;
  padding: 1em;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 5px;
}
main .section-2-bg .section-2 .content-2 .column-right {
  flex: 1;
}
main .section-2-bg .section-2 .content-2 .column-right ul li {
  justify-content: start;
}
main .section-2-bg .section-2 .content-2 .column-right .content {
  padding-left: 1em;
}
main .section-2-bg .section-2 .content-2 .column-middle {
  flex: 1;
  background: url(../images/phonebg.jpg) center top no-repeat;
  background-size: 65%;
  height: 515px;
  position: relative;
}
main .section-2-bg .section-2 .content-2 .column-middle .pic {
  width: 58%;
  position: absolute;
  right: 21.5%;
  top: 11%;
  height: auto;
}
main .section-2-bg .section-2 .content-2 .column-left {
  flex: 1;
}
main .section-2-bg .section-2 .content-2 .column-left ul li {
  justify-content: end;
}
main .section-2-bg .section-2 .content-2 .column-left .content {
  padding-right: 1em;
  text-align: end;
}
main .section-3-bg {
  margin: 0 0 9em 0;
}
main .section-3-bg .section-3 .work {
  display: flex;
  color: #ffffff;
  height: 260px;
}
main .section-3-bg .section-3 .work .content {
  width: 25%;
  padding: 0 3em 3em 2em;
  line-height: 2em;
}
main .section-3-bg .section-3 .work .content h2 {
  display: block;
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.1);
  font-family: barlow-bold;
  padding: 0 0 0 0.2em;
  margin-bottom: -0.05em;
  line-height: 110px !important;
  position: relative;
  z-index: 1;
}
main .section-3-bg .section-3 .work .content h3 {
  font-size: 2rem;
  position: relative;
  z-index: 2;
}
main .section-3-bg .section-3 .work .content p {
  color: #ffffff;
  font-size: 0.8rem;
}
main .section-3-bg .section-3 .work .colon-2,
main .section-3-bg .section-3 .work .colon-4 {
  background-color: #AD1457;
}
main .section-3-bg .section-3 .work .colon-1,
main .section-3-bg .section-3 .work .colon-3 {
  background-color: #C62828;
}
main .section-3-bg .section-3 .work #height {
  height: 290px;
}
main .section-4 {
  text-align: center;
  margin-bottom: 7em;
}
main .section-4 .content-1 h2 {
  font-size: 2rem;
  font-family: barlow-bold;
}
main .section-4 .content-1 p {
  padding-top: 1em;
}
main .section-4 .content-2 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 3em 0 0 0;
}
main .section-4 .content-2 .cards img {
  width: 20%;
}
main .section-5-bg {
  background: url(../uploads/ben_img.jpg);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 7em;
}
main .section-5-bg .section-5 {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 8em 0 8em 0;
}
main .section-5-bg .section-5 p {
  color: #ffffff;
}
main .section-5-bg .section-5 .content-left {
  width: 50%;
  padding: 2em 0 0 0;
}
main .section-5-bg .section-5 .content-left h2 {
  font-size: 2.5rem;
  padding-bottom: 0.6em;
}
main .section-5-bg .section-5 .content-left ul {
  display: flex;
  padding: 3em 0 3em 0;
  gap: 1em;
}
main .section-5-bg .section-5 .content-left ul li {
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: center;
}
main .section-5-bg .section-5 .content-left ul li i {
  font-size: 2rem;
  padding-right: 0.3em;
  vertical-align: middle;
}
main .section-5-bg .section-5 .content-left .btn button {
  background: #121212;
  padding: 0.7em 2em;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  text-align: center;
}
main .section-5-bg .section-5 .content-right {
  width: 50%;
  right: 5%;
  position: absolute;
  z-index: 2;
}
main .section-5-bg .section-5 .content-right img {
  width: 150%;
}
main .section-6 .content-1 {
  text-align: center;
  margin-bottom: 4em;
}
main .section-6 .content-1 h2 {
  font-size: 2.4rem;
  padding-bottom: 0.6em;
}
main .section-6 .content-2 {
  margin-bottom: 4em;
}
main .section-6 .content-2 .cards {
  display: flex;
  justify-content: space-around;
}
main .section-6 .content-2 .cards .card {
  width: 30%;
  text-align: center;
  border: 2px solid rgba(129, 129, 129, 0.1);
}
main .section-6 .content-2 .cards .card .content .footer-card {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 0.4em;
}
main .section-6 .content-2 .cards .card .content p {
  font-size: 0.8rem;
}
main .section-6 .content-2 .cards .card .content small {
  color: #818181;
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 1em;
}
main .section-6 .content-2 .cards .card .content i {
  color: #ffffff;
  padding: 0.4em;
  background-color: #e80d45;
  border-radius: 4px;
}
main .section-6 .content-2 .cards .card img {
  width: 80%;
  border-radius: 50%;
  margin: 2em;
}
main .section-7-bg {
  background: url(../uploads/ben_img_2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: #ffffff !important;
  margin-bottom: 7em;
}
main .section-7-bg .section-7 {
  padding: 6em 0 6em 0;
}
main .section-7-bg .section-7 .content {
  display: flex;
  justify-content: space-between;
}
main .section-7-bg .section-7 .content .square {
  display: flex;
  align-items: center;
  max-width: 25%;
}
main .section-7-bg .section-7 .content .square i {
  font-size: 2rem;
  background-color: #C62828;
  padding: 0.8em;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
main .section-7-bg .section-7 .content .square .content {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
main .section-7-bg .section-7 .content .square .content p {
  font-size: 2rem;
  font-family: barlow-medium;
}
main .section-7-bg .section-7 .content .square .content h3 {
  font-size: 1rem;
  font-weight: 300;
}
main .section-7-bg .section-7 .content .square span,
main .section-7-bg .section-7 .content .square h3,
main .section-7-bg .section-7 .content .square p {
  display: block;
  color: #ffffff;
}
main .section-8 {
  margin-bottom: 6em;
}
main .section-8 .content-1 {
  text-align: center;
}
main .section-8 .content-1 h2 {
  font-size: 2.4rem;
  font-weight: bolder;
  padding-bottom: 0.6em;
}
main .section-8 .content-2 {
  padding-top: 3em;
}
main .section-8 .content-2 .cards {
  display: flex;
  justify-content: space-around;
}
main .section-8 .content-2 .cards .card {
  width: 90%;
  padding: 1em;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
main .section-8 .content-2 .cards .card p {
  font-size: 0.9em;
  padding-top: 1em;
}
main .section-8 .content-2 .cards .card .title {
  display: flex;
  align-items: flex-start;
}
main .section-8 .content-2 .cards .card .title i {
  color: #AD1457;
  font-size: 2rem;
  padding-right: 0.5em;
}
main .section-8 .content-2 .cards .card-1 .footer-card,
main .section-8 .content-2 .cards .card-2 .footer-card,
main .section-8 .content-2 .cards .card-3 .footer-card {
  display: flex;
  padding: 2em 0 0 1em;
}
main .section-8 .content-2 .cards .card-1 .footer-card .content,
main .section-8 .content-2 .cards .card-2 .footer-card .content,
main .section-8 .content-2 .cards .card-3 .footer-card .content {
  padding-left: 1em;
}
main .section-8 .content-2 .cards .card-1 .footer-card .content small,
main .section-8 .content-2 .cards .card-2 .footer-card .content small,
main .section-8 .content-2 .cards .card-3 .footer-card .content small {
  color: #818181;
}
main .section-8 .content-2 .cards .card-1 .footer-card img,
main .section-8 .content-2 .cards .card-2 .footer-card img,
main .section-8 .content-2 .cards .card-3 .footer-card img {
  width: 12%;
}
main .section-9-bg {
  background: url(../uploads/pr_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  height: 556px;
  margin-bottom: 5.5em;
}
main .section-9-bg .section-9 {
  padding: 6em;
}
main .section-9-bg .section-9 .content-1 small {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}
main .section-9-bg .section-9 .content-1 h2 {
  font-size: 2rem;
}
main .section-9-bg .section-9 .content-1 p {
  color: #ffffff;
  font-size: 0.9rem;
  padding: 1em 0 3em 0;
}
main .section-9-bg .section-9 .content-2 .cards {
  display: flex;
  justify-content: center;
  gap: 1.3em;
}
main .section-9-bg .section-9 .content-2 .cards .card {
  display: flex;
  align-items: center;
  padding: 0.9em 2.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 7px;
}
main .section-9-bg .section-9 .content-2 .cards .card i {
  font-size: 3rem;
}
main .section-9-bg .section-9 .content-2 .cards .card .content {
  padding-left: 1em;
  text-align: left;
}
main .section-9-bg .section-9 .content-2 .cards .card .content h2 {
  font-size: 1rem;
  font-weight: lighter;
}
main .section-9-bg .section-9 .content-2 .cards .card .content h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}
main .section-9-bg .content-3 {
  height: 120px;
  margin: 5.1em 0;
  background-color: #AD1457;
}
main .section-9-bg .content-3 p {
  color: #ffffff;
  padding-top: 3em;
}

footer {
  background-color: #201b25;
  color: #ffffff;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 4em 0 6em 0;
}
footer .footer p,
footer .footer ul {
  color: #736e78;
}
footer .footer .content-1 {
  width: 25%;
}
footer .footer .content-1 .logo img {
  width: 60%;
}
footer .footer .content-1 .logo small {
  display: block;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 5em 3em 5em;
}
footer .footer .content-2 {
  width: 25%;
  padding-left: 2em;
}
footer .footer .content-2 ul {
  padding-top: 2em;
}
footer .footer .content-2 ul li {
  padding: 1em 0 1em 0;
  border-bottom: 0.5px solid rgba(115, 110, 120, 0.2);
}
footer .footer .content-2 ul li:last-child {
  border: none;
}
footer .footer .content-3 {
  width: 25%;
  padding-left: 2em;
}
footer .footer .content-3 p {
  padding: 2em 0 3em 0;
}
footer .footer .content-3 button {
  padding: 1.5em 1em;
  background-color: #120d17;
  border: none;
  color: #736e78;
  font-size: 0.8rem;
  cursor: pointer;
}
footer .footer .content-3 button i {
  font-size: 1rem;
  color: rgba(115, 110, 120, 0.8);
  padding-left: 0.7em;
}
footer .footer .content-4 {
  width: 25%;
  padding-left: 2em;
}
footer .footer .content-4 ul {
  font-size: 0.9em;
  padding-top: 2em;
  color: #736e78;
}
footer .footer .content-4 ul li {
  border-bottom: 0.5px solid rgba(115, 110, 120, 0.2);
  padding: 0.5em 0 1em 0;
}
footer .footer .content-4 ul li i {
  color: #736e78;
  font-size: 0.9em;
  padding-right: 0.4em;
  border-right: 0.5px solid rgba(115, 110, 120, 0.2);
}
footer .footer .content-4 ul li:last-child {
  border: none;
}

@media (max-width: 1024px) {
  body .container {
    max-width: 950px;
  }
  body main .section-1 .content {
    width: 50% !important;
  }
  body main .section-1 .content h1 {
    font-size: 3rem !important;
  }
  body main .section-3 {
    height: 520px;
  }
  body main .section-3 .work {
    flex-wrap: wrap;
  }
  body main .section-3 .work .content {
    width: 50% !important;
  }
  body main .section-5 .content-left ul {
    width: 40%;
    flex-direction: column;
  }
  body main .section-5 .content-left li:last-child {
    display: none;
  }
  body main .section-5 .content-right {
    right: 16% !important;
  }
  body main .section-9-bg .content-3 {
    margin: 2em 0;
  }
}
@media (max-width: 375px) {
  body .container {
    width: 340px;
  }
  body header nav .navbar .first-nav {
    flex-direction: column;
    align-items: center;
    padding: 0.1em 0;
  }
  body header nav .navbar .first-nav .right-nav,
body header nav .navbar .first-nav .left-nav {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  body header nav .second-nav {
    width: 100%;
    height: 80px;
    margin-top: 3.5em;
  }
  body header nav .second-nav .container {
    padding: 0;
    padding-top: 1em;
  }
  body header nav .second-nav .container .right-nav {
    width: 10%;
    height: 35px;
    padding: 0;
    background-color: #C62828;
    border-radius: 3px;
    text-align: center;
  }
  body header nav .second-nav .container .right-nav i {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.2em;
  }
  body header nav .second-nav .container .right-nav ul {
    display: none;
  }
  body header nav .second-nav .container .left-nav {
    padding: 0;
  }
  body main .section-1-bg .section-1 {
    height: 350px;
    padding: 0;
  }
  body main .section-1-bg .section-1 .content {
    width: 100%;
    padding: 4em 0;
    text-align: center;
  }
  body main .section-1-bg .section-1 .content h1 {
    font-size: 24px !important;
    font-weight: lighter !important;
  }
  body main .section-1-bg .section-1 .content .btn {
    justify-content: center;
  }
  body main .section-1-bg .section-1 .content .btn button {
    width: 35%;
    height: 45px;
    font-size: 14px;
    padding: 0;
  }
  body main .section-1-bg .section-1 .picture {
    display: none;
  }
  body main .section-2-bg .section-2 .content-1 {
    padding: 4em 0 0 0 !important;
  }
  body main .section-2-bg .section-2 .content-2 {
    flex-direction: column;
  }
  body main .section-2-bg .section-2 .content-2 .column-left ul li {
    flex-direction: row-reverse;
    justify-content: flex-end !important;
  }
  body main .section-2-bg .section-2 .content-2 .column-left ul li .content {
    padding-right: 0 !important;
    padding-left: 1em;
    text-align: left !important;
  }
  body main .section-2-bg .section-2 .content-2 .column-middle {
    flex: auto;
    height: 450px;
    margin: 3em 0 1em 0;
  }
  body main .section-3-bg {
    height: auto;
    margin: 0 0 5em 0;
  }
  body main .section-3-bg .section-3 {
    height: auto;
  }
  body main .section-3-bg .section-3 .work {
    height: auto;
    flex-direction: column;
  }
  body main .section-3-bg .section-3 .work .content {
    width: 100% !important;
  }
  body main .section-4 {
    margin-bottom: 4em;
  }
  body main .section-4 .content-2 img {
    width: 100% !important;
  }
  body main .section-4 .content-2 #hide {
    display: none;
  }
}

/*# sourceMappingURL=css.style.css.map */
